lib/libmecab.*
mecab-wasm.zip
*.o
*.lo
*.la

mecab/**/Makefile
mecab/**/Makefile.msvc
mecab/config.h
mecab/config.log
mecab/config.status
mecab/src/.libs
mecab/src/mecab
mecab/src/mecab-cost-train
mecab/src/mecab-dict-gen
mecab/src/mecab-dict-index
mecab/src/mecab-test-gen
mecab/src/mecab-system-eval
mecab/stamp-h1
mecab/libtool
mecab/mecabrc
mecab/mecab.iss
mecab/mecab-config
mecab/a.wasm

mecab-ipadict/dist
mecab-ipadict/Makefile
mecab-ipadict/*.dic
mecab-ipadict/*.bin

mecab-ipadict/config.log
mecab-ipadict/config.status
